html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
    display: flex;
}

.map-container {
    flex: 2; /* Adjust this to control the map width */
    height: 100vh;
}

.form-container {
    flex: 1; /* Adjust to control the form width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: #f8f9fa;
}
